# Dépendances
node_modules/

# Variables d'environnement secrètes
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
